node_modules
.git
.gitignore
.next
out
dev.db
*.md
.env
.env.local
.env.production
.DS_Store
.eslintrc.json
.npmrc
scripts
docs
test.js
fix.js
fix-css.js
fix-types.js
alumni_roster.csv
tsconfig.tsbuildinfo
